*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

#MenuItems{
    background-color: transparent;
}
#MenuItems li a{
    text-decoration: none;
    color: black;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

#MenuItems li a:hover{
    color: orangered;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
   color: #555; 
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 50%;
    padding: 30px 0;
    border-radius: 130px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: blue;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: rgb(122, 131, 170);
}
.header{
    background: radial-gradient(#fff,#9fd5e6)
}
.header .row{
    margin-top: 70px;
}

#categories{
    margin: 70px 0;
    background-color:rgb(241, 241, 186);
    background-image: url("images/background.jpg");
    background-size: contain;
}

#categories h2{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    background-color: #fff;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.col-3 img{
    width: 100%;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 50%;
    flex-flow: column;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 70%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555
}
.title::after{
    content: '';
    background: #91d6eb;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.title1{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title1::after{
    content: '';
    background: #91d6eb;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

.col-i{
    display: flex;
    align-items:center;
    margin-bottom: 3rem;
    flex-basis: 50%;
    min-width: 300px;
}

.bar{
    background-color: lightgray;
    height: 20px;
    width: 100%;
    text-align: end;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 600;
    margin-right: 3rem;
}

.progress{
    background-color: blue;
    height: 100%;
    color: white;
}

.skill{
    width: 7.2rem;
}

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

.testimonial{
    padding-top: 100px;
    background-color: #eacaf7;
}
.testimonial{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0p black;
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 100%;
    margin-top: 20px;
    border-radius: 0%;
}

.testimonial .col-3:hover{
   transform: translateY(-10px); 
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3:p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.logo{
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.brands{
    margin: 100px auto;
}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer .p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid red;
    padding: 5px;
}
select:focus{
    outline:none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid red;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: orangered;
    color: white;
}

.single-product{
    margin-top: 80px;

}

.single-product .col-2 img{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid orangered;
}

input:focus{
    outline: none;
}

.single-product .fa{
    color: blue;
    margin-left:10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4rem;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: blue;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: blue;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid orangered;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.typing-animation{
    font-family: monospace;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15rem solid #000;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
    color: red;
    font-weight:600;
}

.even{
    background-color:rgb(250, 250, 143);
}

table thead th{
    border: 2px solid black;
    text-align: center;
}

table tbody tr td{
    border: 2px solid black;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
label{
    color: white;
    font-size: 16px;
}

.form-control {
    text-align: start;
    margin-bottom: 10px;
}

.form-control label {
    display: inline;
    margin-bottom: 10px;
}

.form-control input,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to{
        border-color: transparent;
    }
    50%{
        border-color: #000000;
    }
}



@media only screen and (max-width: 950px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: black;
        width:100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 5px;
        margin-top: -10px;
        margin-bottom: -16px;
        background: radial-gradient(#fff,#9fd5e6);
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display:block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}